# Logs
node_modules
dist
.env
*.local

# Design/Specs (Too large for quick push)
*.json
!package.json
!package-lock.json

# Screenshots & Reference Images
*.png
*.jpg
*.svg
!src/assets/*.svg
!public/*.svg
!public/*.png

# System
.git
.DS_Store
